body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logout-btn {
    float: right;
    display: inline-block;
    background-color: #dc3545; /* Красный цвет */
    color: #fff; /* Белый текст */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

.logout-btn:hover {
    background-color: #c82333; /* Темнее при наведении */
    transform: scale(1.05); /* Легкое увеличение */
}

.logout-btn:active {
    background-color: #a71d2a; /* Ещё темнее при нажатии */
    transform: scale(0.98);
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #007bff;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
.actions a {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
}
.edit {
    background-color: #28a745;
}
.delete {
    background-color: #dc3545;
}
.delete:hover {
    background-color: #c82333;
}
.edit:hover {
    background-color: #218838;
}